.calendar {
    border-collapse: collapse;
    border: 1px solid black;
    background: rgb(247,247,247);
    table-layout: fixed;
    min-width: 40%;
    width: 40%;
    max-width: 40%;
}

.calendar thead th {
    border: 1px solid black;
    padding: 4% 2%;
    text-align: center;
}

.th-weekend {
    background-color: rgb(255, 252, 211);
}

.th-weekday {
    background-color: rgb(204, 255, 238);
}

.calendar .calendar-day {
    border: 1px solid black;
    padding: 4% 2%;
    text-align: center;
    width: 25%;
}

.calendar tbody .offset-day {
    border-right: none;
}

.calendar-day {
    background-color: white;
}

.main-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}